@{
    ViewBag.Title = "UploadFile";
}
<h2>UploadFile</h2>

<form method="POST" enctype="multipart/form-data">
    <input type="file"><br/>
    <input type="submit" value="Upload" />
</form>

@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <div>
        @Html.TextBox("file", "", new {  type= "file"}) <br />
            <input type="submit" value="Upload" />
        @ViewBag.Message
        </div>
}
